@font-face {
    font-family: "Inter";
    src: url("/fonts/Inter_18pt-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background: #44494a;
  color: #ebebeb;
}

a {
  color: inherit;
  text-decoration: none;
}

/* I copy-pasted the default css for h3 and then edited it a bit */
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 0.7em;
    margin-block-end: 0.6em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

#pageHeader {
    font-size: 30px;
    display: flex;
    width: 100%;
    max-width: 1100px;
    min-height: 80px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-left: max(1vw, 10px);
    padding-right: max(1vw, 10px);
    box-sizing: border-box;
    background: #282c2d;
}

#introduction {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    min-height: 100px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-left: max(1vw, 10px);
    padding-right: max(1vw, 10px);
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background: #282c2d;
}

#noscriptSection {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1100px;
    min-height: 100px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-left: max(1vw, 10px);
    padding-right: max(1vw, 10px);
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background: #282c2d;
}

.introDiv {
    display: flex;
    align-items: center;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    min-height: 21vh;
    padding-left: max(1vw, 10px);
    padding-right: max(1vw, 10px);
    box-sizing: border-box;
    background: #282c2d;
}

.cardPreview {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max(16%, 210px);
}

.mediaContainer {
    position: relative;
    width: 200px;
    height: 200px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    display: block;
}

.mediaContainer video,
.mediaContainer img {
  position: absolute;
  inset: 0;               /* top:0; right:0; bottom:0; left:0; */
  width: 100%;
  height: 100%;
  object-fit: contain;    /* or cover depending on how you want it cropped */
  display: block;
  -webkit-user-drag: none;
  user-select: none;
}

/* image sits on top initially */
.mediaContainer img {
  z-index: 2;
  opacity: 1;
  pointer-events: none;   /* allow mouse events to pass through to the link/video if you want */
}

.mediaContainer.img-hidden img {
  opacity: 0;
  pointer-events: none;
}
.mediaContainer.vid-hidden video {
  opacity: 0;
  pointer-events: none;
}

/* ensure video is below the image */
.mediaContainer video {
  z-index: 1;
  background: #000; /* visible while video frames load */
}

.cardMain {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: max(1vw, 10px);
    padding-right: max(1vw, 10px);
    padding-bottom: max(1vw, 18px);
    box-sizing: border-box;
}

.cardTitle {
    width: 100%;
}

.cardDescription {
    width: 100%;
}
