body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* to prevent scrollbars */
}

#promptDiv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(15vh, 10vw);
}

#mainCanvas {
    width: 100%;
    height: 100%;
}
